body{
  margin: 0 auto;
  padding: 0 auto;
  /* //background-color: blueviolet; */
}

/* .header{
  display: flex;
  width: 100%;
  height: 50px;body{
    margin: 0 auto;
    padding: 0 auto;
    //background-color: blueviolet;
  } */
  
  .header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: black;
    color: aliceblue;
    justify-content: space-around;
    align-items: center;
  }
  
  a{
    color: aliceblue;
    text-decoration: none;
    font-size: large;
    
  }
  
  .cart{
    background-color: red;
    /*width: 5%;*/
  }
  
  .product-container, 
  .products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }
  
  img{
    height: 150px;
  }
  
  button{
    background-color: gold;
    cursor: pointer;
  }
  
  .add-cart{     
    /* background-color: green;  */
  }
  
  .image:hover .cart1,
  .image:hover .cart2,
  .image:hover .cart3{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
    background-color: green;
  }
  
  /*---------------Cart--------------*/
  
  .products-container{
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  }
  
  .products-container fa-solid{
    font-size: 25px;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .products-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid black;
    margin: 0 auto;
  }
  
  .products-title{
  width: 15%;
  }
  
  .price{
    width: 15%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
  }
  
  .quantity{
    width: 15%;
    border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  }
  
  .total{
  width: 15%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  }
  
  .products{
    width: 15%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  }
  
  
  
  
  /* background-color: black;
  color: aliceblue;
  justify-content: space-around;
  align-items: center;
} */

a{
  color: aliceblue;
  text-decoration: none;
  font-size: large;
  
}

.cart{
  background-color: red;
  /*width: 5%;*/
}

.product-container, 
.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

img{
  height: 150px;
}

button{
  background-color: gold;
  cursor: pointer;
}

.add-cart{     
/* background-color: green;  */
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3{
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
  background-color: green;
}

/*---------------Cart--------------*/

.products-container{
max-width: 650px;
justify-content: space-around;
margin: 0 auto;
margin-top: 50px;
}

.products-container fa-solid{
  font-size: 25px;
  color: red;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.products-header{
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.products-title{
width: 15%;
}

.price{
  width: 15%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.quantity{
  width: 15%;
  border-bottom: 1px solid black;
display: flex;
align-items: center;
}

.total{
width: 15%;
border-bottom: 1px solid black;
display: flex;
align-items: center;
}

.products{
  width: 15%;
border-bottom: 1px solid black;
display: flex;
align-items: center;
}



